    /* These are selectors:
      use tag {} for applying attributes to all tags of that type
      use .className {} for classes and call class="" in the tag
      use #idName {} for specific id and call id="" in the tag 
      the most specific selector is the selector that takes priority */
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: radial-gradient(rgb(194, 196, 109), rgb(13, 109, 173));
}
p {
  margin : 35px;
}
nav {
  display: flex;
  justify-content: center;
}
.places-to-rockclimb-section {
  display : flex;
  justify-content: center;
}
.center {
  text-align: center;
}
.top-format {
  display: flex;
  justify-content: center;
}
.new-format {
  display: flex;
  justify-content: space-evenly;
}
#button-size {
  height:50px;
  width:100px;
  background-color: #4CAF50;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #4CAF50;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.paragraph-center {
  height: 2em;
  width: 45%;
}
.top-container-center {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
  justify-content: center;
}
.menu-container {
  /* border: 1px solid #fff; */
  display:flex;
  flex-direction: column;
}
#bigger {
  font-size: 50px;
}
img {
  border: 1px solid;
}
